<ng-container>
  <!--
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  -->

  <mat-tab-group>
    <mat-tab label="Conteudo 1">
      <h4 class="conteudo">Some tab content</h4>
      <p class="conteudo">...</p>
    </mat-tab>
    <mat-tab label="Conteudo 2">
      <h5 class="conteudo">Some more tab content</h5>
      <p class="conteudo">...</p>
    </mat-tab>
    <mat-tab label="Conteudo 3">
      <h5 class="conteudo">Some more tab content</h5>
      <p class="conteudo">...</p>
    </mat-tab>
  </mat-tab-group>
</ng-container>
